// Place all the styles related to the Bikeracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  height:100%;
}

body {
  background: #fff;
  color: #3f3f3f;
  font-family: 'ff-clan-web-pro', 'Helvetica Neue', Arial,Helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  position: relative;
  -ms-touch-action: none !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout:none;
}

a {
  color:#000;
}

.btn {
  font-family: 'ff-clan-web-pro-narrow', 'Helvetica Neue', Arial,Helvetica, sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform:uppercase;
}

.page {
  display: none;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.page.full {
  height:100%;
}

.page header, .page footer {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.page header {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #fff repeat-x;
  font-size: 17px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

@media(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi){
  .page header{ 
    background-image: #fff;
    background-size: 2px 44px
  }
}

.request-view .location-bar {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.9);
  height: 40px;
  left: 0;
  position: absolute;
  top: 44px;
  width: 100%;
  z-index: 20;
}

.request-view .location-bar .btn {
  height: 100%;
  position: absolute !important;
  text-indent: -10000px;
  top: 0;
  width: 40px;
}

.request-view .location-bar .pickup-location {
  height:100%;
  font-family: 'ff-clan-web-pro-narrow', 'Helvetica Neue', Arial,Helvetica, sans-serif;
  margin: 0;
  text-align: center;
  text-transform: uppercase
}

.request-view .location-bar .pickup-location small {
  color: #27aa0b;
  font-size: 10px;
}

.request-view .location-bar .pickup-location span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  line-height: 18px;
  margin: 0 40px
}

.request-view .location-bar .search {
  position: relative;
  left: 0;
}

.request-view .location-bar .search:before {
  background: #fff 0 -887px no-repeat;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  top: 50%;
  content: '';
  display: block;
  height: 20px;
  position: absolute;
  width: 20px
  }

@media(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
  .request-view .location-bar .search:before {
    background-image: #fff;
    background-size: 210px 1872px
  }
}

.request-view .location-bar .center {
  position: relative;
  right: 0;
}

.request-view .location-bar .center:before {
  background: #fff 0 -349px no-repeat;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  top: 50%;
  content: '';
  display: block;
  height: 16px;
  position: absolute;
  width: 16px
}

@media(-webkit-min-device-pixel-ratio:1.25),(min-resolution:120dpi) {
  .request-view .location-bar .center:before {
    background-image: #fff;
    background-size: 210px 1872px
  }
}

.request-view .trip-status-bar {
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  background: rgba(255,255,255,0.9);
  border: 1px solid #ccc;
  display: none;
  font-family: 'ff-clan-web-pro-narrow', 'Helvetica Neue', Arial,Helvetica, sans-serif;
  font-size: 11px;
  left: 10px;
  line-height: 32px;
  position: absolute;
  right: 10px;
  text-align: center;
  text-transform: uppercase;
  top: 55px;
  z-index: 20;
}

.request-view .trip-status-bar p {
  color: #f32f00;
  display: none;
  font-size: 10px;
  margin: 0;
}

.request-view .background-view {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.request-view .map-view {
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 100%;
  position: relative;
  z-index:10;
}

.request-view .map-wrap {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top:0;
}

.request-view .map-wrap #map {
  height:100%;
}
